* {
  box-sizing: border-box;
}
@font-face {
  font-family: "vazir_DF";
  src: url(../fonts/Vazir-Light.woff);
}

body {
  margin: 0;
  font-family: "vazir_DF";
}
.backdrop {
  position: fixed;
  display:none;
  z-index: 100;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.5);
}

.main_header {
  width: 100%;
  background-color: #1565c0;
  padding: 0.5rem 1rem;
  position: fixed;
  z-index: 1;
}
.main_header > div {
  display: inline-block;
  vertical-align: middle;
}
.main_header__logo {
  font-size: 1.2rem;
  text-decoration: none;
  color: #ffffff;
}
.main_nav {
  display: inline-block;
  width: calc(100% - 70px);
  text-align: right;
  vertical-align: middle;
}
.main_nav__items {
  margin: 0;
  padding: 0;
  list-style: none;
}
.main_nav__item {
  display: inline-block;
}

.main_nav__item a {
  color: beige;
  text-decoration: none;
  margin: 0 16px;
}

.main_nav__item a:hover,
.main_nav__item a:active,
.main_header__logo:hover {
  color: #252525;
}
.main_nav__item--account a {
  background-color: cornsilk;
  padding: 0.5rem 1rem;
  border-radius: 8px;
  color: #1565c0;
}
.main-nav__item--account a:hover,
.main-nav__item--account a:active {
  color: #1565c0;
}
.main-footer {
  background-color: slategrey;
  padding: 2rem;
}
.main-footer__links {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}
.main-footer__link {
  display: inline-block;
  margin: 0 1rem;
}

.main-footer__link a {
  text-decoration: none;
  color: #f5f5f5;
}
.main-footer__link:hover,
.main-footer__link:active {
  color: #e0e0e0;
}
